# RUFAS .gitignore

# ignore text files
*.txt
*.txt#
!example_list_of_filter_patterns.txt
!example_list_of_regex_patterns.txt
!example_list_of_exclude_regex_patterns.txt
!example_list_of_exclude_filter_patterns.txt
!requirements.txt
*.doc
*.docx

# ignore log files
*.log
# ignore linear programming files
*.lp

# ignore python compiled files
*.pyc

# folders
build
others

# Ignore contents of output directories, except for .keep files
# This is because we want to keep the output directories, and git
# only stores non-empty directories
output/*
!output/.keep
RUFAS/routines/manure/output/*
!RUFAS/routines/manure/output/.keep

# ignore project files
*.sublime-project
*.sublime-workspace
*.project
*.pydevproject
*.vscode
*.settings
.idea/**
env/
venv/

# ignore .DS_store
.DS_store

# ignore R files
.RData
.RHistory

# ignore pytest cache folder
.pytest_cache/
*.bak
tests/__pycache__/test_user_prompt.cpython-311-pytest-7.2.2.pyc.27508
