# RUFAS .gitignore

# ignore text files
*.txt
*.txt#
!requirements.txt
*.doc
*.docx

# ignore log files
*.log
# ignore linear programming files
*.lp

# ignore python compiled files
*.pyc

# folders
build
others

# Ignore contents of output directory, except for .keep file
# This is because we want to keep the output direcectory, and git
# only stores non-empty directories
output/*
!output/.keep

# ignore project files
*.sublime-project
*.sublime-workspace
*.project
*.pydevproject
*.vscode
*.settings
.idea/**
