# RUFAS .gitignore

# ignore text files
*.txt
*.txt#
*.doc
*.docx

# ignore log files
*.log
# ignore linear programming files
*.lp

# ignore python compiled files
*.pyc

# folders
build
others
Outputs

# ignore project files
*.sublime-project
*.sublime-workspace
*.project
*.pydevproject
*.vscode
*.settings
.idea/**
