flake8
matplotlib
mock
numpy
pandas
pytest==7.4.4
pytest-mock
scipy
pytest-lazy-fixture
argparse
typing_extensions
sphinx
sphinx-rtd-theme
juliandate
freezegun
salib
tqdm
mypy
black
coverage
deepdiff
