# some quarto files
/.quarto/
**/*.quarto_ipynb
site_libs/

# rendered output (uncomment to exclude) - ignore local version, since rendered by GitHub Actions
#_book/

# raw LaTeX files
*.tex
animal_files
example_structures_files

# ipynb files and checkpoints for example structure file
*.quarto_ipynb
.ipynb_checkpoints/